.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

@keyframes like {
  to {
    background-position: right;
  }
}

.button {
  display: grid;
  place-items: center;
  border: 0;
  cursor: pointer;

  --size: 100px;
  width: var(--size);
  height: var(--size);
  background: url("/craft//twitter-like-button/heart.png");
  background-size: cover;
  background-position: left;

  &[data-liked="true"] {
    animation: like 0.75s steps(28) forwards;
  }
}
