:root {
  // global token
  --black: #101010;
  --white: rgb(237, 237, 237);

  // semantic token
  --background: var(--white);
  --text: var(--black);

  // shadows
  --shadows-large: 0 30px 60px rgba(0, 0, 0, 0.12);

  @media (prefers-color-scheme: dark) {
    --background: var(--black);
    --text: var(--white);
  }
}

html,
body {
  min-width: 320px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: var(--background);
  color: var(--text);

  @media (orientation: landscape) {
    padding-inline: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.12em;
  box-sizing: border-box;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--text);
  }
}
