@keyframes op {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}

.nav {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom) + 16px);
  left: 50%;
  z-index: 1;
  width: calc(100% - 32px);
  height: 58px;
  max-width: 500px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(100px) saturate(400%) brightness(100%);
  box-shadow: var(--shadows-large);
  opacity: 0;
  animation: op 0.35s ease-in-out 2s forwards;
  transform: translate(-50%, 20px);

  @media (prefers-color-scheme: dark) {
    background: rgba(22, 22, 22, 0.8);
  }
}

.ul {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 16px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.button {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center;

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--text);
  }
}

.svg {
  & rect,
  & path {
    stroke: var(--text);
  }
}

.siIcon {
  fill: var(--text);
}
