.sign {
  display: flex;
  min-height: 51px;
  unicode-bidi: isolate;
}

.sign div {
  unicode-bidi: isolate;
  max-height: 51px;
}

.sign div path {
  /*stroke-dashoffset: 0;*/
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1;
  stroke: white;
  transition: 0.2s stroke-dashoffset;
}

.sign div:nth-child(1) {margin: 0 -24px 0 -6px}
.sign div:nth-child(1) path {stroke-dasharray: 174; stroke-dashoffset: 174}
.sign div:nth-child(2) {margin: 0 -4.5px 0 0}
.sign div:nth-child(2) path {stroke-dasharray: 28; stroke-dashoffset: 28}
.sign div:nth-child(3) {margin: 0 -5px 0 0}
.sign div:nth-child(3) path {stroke-dasharray: 27; stroke-dashoffset: 27}
.sign div:nth-child(4) {margin: 0 -4px 0 -9px}
.sign div:nth-child(4) path {stroke-dasharray: 70; stroke-dashoffset: 70}
.sign div:nth-child(5) {margin: 0 -4px 0 0}
.sign div:nth-child(5) path {stroke-dasharray: 36; stroke-dashoffset: 36}
.sign div:nth-child(7) {margin: 0 -23px 0 -3px}
.sign div:nth-child(7) path {stroke-dasharray: 244; stroke-dashoffset: 244}
.sign div:nth-child(8) {margin: 0 -2.5px 0 0}
.sign div:nth-child(8) path {stroke-dasharray: 17; stroke-dashoffset: 17}
.sign div:nth-child(9) {margin: 0 -5px 0 0}
.sign div:nth-child(9) path {stroke-dasharray: 27; stroke-dashoffset: 27}
.sign div:nth-child(10) {margin: 0 -2.5px 0 0}
.sign div:nth-child(10) path {stroke-dasharray: 17; stroke-dashoffset: 17}

