----
import { client } from "../api/utils";

console.log("Hello in ternminal")
console.log(await client.hello.query())
---
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JJ</title>
</head>
<body>
  <h1>hello</h1> 
</body>
</html>
