.wrapper {
  margin-top: 16px;

  & * {
    line-height: 2;
    color: var(--text-article);
  }

  & h2 {
    margin-top: 8px;
    font-size: 1.25rem; // 20px
  }

  & h3 {
    margin-top: 8px;
    font-size: 1rem; // 16px
  }

  & p,
  & a {
    font-size: 0.875rem; // 14px
  }

  & ul {
    margin-left: 1rem;
  }
}
