@keyframes op {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  padding-bottom: 80px;
}

.container {
  padding: 16px;
}

.title {
  font-size: 2.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: op 0.35s ease-in-out 0.5s forwards;
}

.subtitle {
  margin-top: 32px;

  &:not(:first-of-type) {
    margin-top: 64px;
  }

  font-size: 1.75rem;
  opacity: 0;
  transform: translateY(20px);
  animation: op 0.35s ease-in-out 0.5s forwards;
}

.ul {
  margin-top: 16px;
  list-style: none;
}

.techStackLi {
  margin-block: 1rem;
  opacity: 0;
  transform: translateY(20px);
  animation: op 0.35s ease-in-out 0.5s forwards;

  & + & {
    margin-top: 8px;
  }
}

.li {
  line-height: 1.5;
  margin-block: 1rem;
  opacity: 0;
  transform: translateY(20px);
  animation: op 0.35s ease-in-out 0.5s forwards;

  & + & {
    margin-top: 32px;
  }
}

.historyName {
  font-size: 1.25rem;
  font-weight: bold;
}

.historyJobTitle {
  font-size: 1rem;
  font-weight: bold;
}

.historyDate {
  margin-top: 8px;
  font-size: 0.75rem;
}

.historyCompanyUrl {
  text-decoration: underline;
  margin-top: 8px;
  color: var(--text);
  font-size: 0.75rem;
}

.serviceUl {
  margin-top: 16px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
}

.serviceLi {
  opacity: 0;
  transform: translateY(20px);
  animation: op 0.35s ease-in-out 0.5s forwards;
}

.serviceUrl {
  display: block;
  height: 100%;
  text-decoration: none;
}

.ogpImage {
  aspect-ratio: 1200 / 630;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.sideServiceUl {
  margin-top: 16px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 8px;
}

.speakerUl {
  margin-top: 16px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
  gap: 8px;

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

.speakerLi {
  opacity: 0;
  transform: translateY(20px);
  animation: op 0.35s ease-in-out 0.5s forwards;
}

.speakerUrl {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}

.speakerTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
  color: var(--text);
  text-align: right;
  font-weight: bold;
  line-height: 1.5;
  display: grid;
  place-items: end;
  padding: 8px;
  transition: opacity 0.35s ease-in-out;
  border-radius: var(--radius-md);

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }

  &:hover {
    opacity: 0;
  }
}
